streamlit==1.40.1
farm-haystack[inference]==1.26.4
black==24.8.0
plotly==5.24.1
newspaper3k==0.2.8
PyPDF2==3.0.1
pytesseract==0.3.13
soundfile==0.13.1
espnet==202304
pydub==0.25.1
espnet_model_zoo==0.1.7
openai-whisper==20240930
farm-haystack-text2speech==1.1.1
altair==5.4.1
lxml_html_clean==0.4.1
streamlit_option_menu==0.4.0